.legend {
  font-size: small;
}

#second--title {
  border-left: 6px var(--bs-primary) solid;
  padding-left: 2px;
}

.who__card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  border-radius: 6px;
  height: 100%;
  max-width: 100%;
  justify-content: center;
}

#carrousel {
  animation: slide-left 0.8s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: min-content;
  margin: 6px;
  overflow-x: hidden;
}

#who__card-second {
  animation: slide-rigth 0.8s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin: 6px 1rem;
  /* max-width: 35%; */
  width: 45%;
  padding: 6px;
  padding-top: initial;
}

#who__card-second .legend {
  border-left: 4px solid var(--bs-primary);
  padding: 2px;
  margin: 18px 0;
  font-weight: bold;
}

.sectionflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 ,h4{
  /* text-align: center;
    color: whitesmoke; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, ul li {
  /* text-align: center;
    color: whitesmoke; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookmarkBtn {
  min-width: 160px;
  margin: 6px;
  height: 40px;
  max-width: 100%;
  border-radius: 40px;
  border: 1px solid #0a618431;
  background-color: #5192ac;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
}

.IconContainer {
  color: white;
  width: 30px;
  height: 30px;
  background: #0d5262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

/* #icon_wpp{
      background: linear-gradient(to bottom, rgb(136, 255, 182),rgb(92, 255, 70));
    }
    #icon_ig{
      background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
    } */

.icon {
  border-radius: 1px;
}

.btn__txt {
  height: 100%;
  flex-grow: 1;
  /* Ocupa el espacio disponible */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.04em;
  margin: 0;
  white-space: nowrap;
  /* Evita que el texto se desborde */
  overflow: hidden;
  /* Oculta el texto que no quepa */
}

.bookmarkBtn:hover .IconContainer {

  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .btn__txt {
  flex-grow: 0;
  /* Deshabilita el crecimiento del texto */
  width: 0;
  font-size: 0;
  padding: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}

/* Cartel Section */
#cartel--section {
  height: auto;
  width: 100%;
}

.cartel {
  padding: 22px;
  /* margin-top: 2vh; */
}

.cartel__titulo {
  text-align: center;
  padding: 4px;
  background-color: var(--color-main);
  margin: 0;
  /* border-top-left-radius: 9px;
  border-top-right-radius: 9px; */
}

.cartel__description {
  margin: 0;
  background-color: var(--color-main);
  padding: 1rem;
  /* border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; */
  border-radius: 9px;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  flex: 1 1 250px; /* Permite que las tarjetas se adapten al tamaño del contenedor */
}

.cards .red {
  background-color: var(--color-extra);
}

.cards .blue {
  background-color: var(--color-extra);
}

.cards .green {
  background-color: var(--color-extra);
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1);
}

.cards:hover > .card:not(:hover) {
  transform: scale(0.9, 0.9);
  filter: blur(2px);
}

/* Media query para pantallas más pequeñas */
/* @media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
} */


@media (max-width: 1040px) {
  #who__card-second {
    width: auto;

  }

  #second--title {
    border: none;
    border-bottom: 4px var(--bs-primary) solid;

  }
}

@media (max-width: 720px) {
  #carrousel {
    aspect-ratio: 16/9;
    width: 100%;
    overflow: hidden;

  }

  .container__buttons {
    justify-content: center;
  }

}

@media (max-width: 450px) {

  /*second part*/
  .who__card {
    padding: 3% 6%;
    border-radius: 0;
  }

  #who__card-second {
    width: 100%;
  }

  .legend {
    display: none;
  }

}