<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Nosotros</h6>
        <p class="text-justify">
          En Paisajes Misticos creamos memorias que respetan el entorno, que
          cuidan la naturaleza, y que celebran a nuestros antepasados. Nuestro
          compromiso con un turismo sostenible y consciente es firme. Queremos
          que descubras Jujuy, pero también que te sientas parte de ella, que
          comprendas su magia y su legado, y que, al finalizar tu aventura, te
          lleves contigo algo más que fotos: una conexión profunda con lo
          esencial. Con nosotros, no solo visitarás Jujuy. La vivirás en
          plenitud.
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Credenciales Oficiales</h6>

        <p><strong>Prestador de turismo activo</strong> Legajo N.° 041/23</p>
        <p><strong>ATC-E ( Advance Trauma Care-Expert)</strong></p>
        <p><strong>Guía de senderismo especializado en portugués.</strong></p>
        <!-- <p><strong>Numero Perm Prec</strong> PV-2023-94553847-APN-DRAV#MTYD</p> -->
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Enlaces útiles</h6>
        <ul class="footer-links">
          <li>
            <a
              href="https://tramitesadistancia.gob.ar/tramitesadistancia/detalle-tipo?id=624"
              >Denuncia contra una agencia</a
            >
          </li>
          <li><a href="https://wa.me/543885872269">Reclamos</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          CreandoeExperiencias juntos <a href="#">Paisajes Místicos</a>.
        </p>
        <p class="copyright-text">
          Desarrollado por
          <a target="_blank" href="mailto:juanmcoro2003@gmail.com"
            >Canela Software</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="twitter" href="'https://wa.me/5493885872269?text=¡Hola! Estoy interesado/a en obtener más información sobre los circuitos que ofrecen para conocer Jujuy.'"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </li>
          <li>
            <a class="dribbble" href="https://www.instagram.com/senderosenjujuy?utm_source=qr&igsh=ZXQydW9wMmE5dDZ2c/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a class="linkedin" href="https://www.tiktok.com/@senderosenjujuy?_t=8pkR7n0mlNO&_r=1"><i class="fa-brands fa-tiktok"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
