/* General Styles */
.banner-container {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-logo {
    margin-bottom: 20px; /* Espacio entre la imagen y el h2 */
    max-width: 100%; /* Hacer la imagen responsiva */
    height: auto; /* Mantener la proporción de la imagen */
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Styles for Arrow */
.arrow {
    font-size: larger;
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Añadido para garantizar el color blanco en todos los estados */
}

.arrow:hover {
    animation: bound 1.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .banner-container {
        padding: 10px; /* Reducir padding en pantallas pequeñas */
    }

    h2 {
        font-size: 1.5rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
        padding: 0 10px; /* Añadir padding lateral para mejor lectura */
    }

    .arrow {
        bottom: 1rem; /* Ajustar posición del arrow en pantallas pequeñas */
    }
}

/* Animations */
@keyframes bound {
    from {}

    to {
        bottom: 3rem;
    }
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}
