

<div class="banner-container">
  <div class="container-fluid text-center">
    <img src="assets/logoh.png"  alt="AV servicios Logo" class="banner-logo">
    <h2>Descubre Jujuy, conecta con tu esencia</h2>
  </div>
</div>

<div >
  <div class="container_elegi_arg">
    <img class="elegi_arg" src="assets/elegi_arg.png" alt="Logo elegi argentina">
    <p class="elegi_arg_font">20% sobre el precio de lista!!!</p>
  </div>
  <a href="#main__who" class="arrow" > <i class="fa-solid fa-arrow-down"></i> </a>
</div>



