/* General Styles */
.nb {
    background: none;
}
.sectionflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    scroll-margin-block-start: 2em;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    max-width: 100%;
    padding: 0;
}

/* First Page */
#first {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

/* Cartel Section */
#cartel--section {
   height: auto;
}
.cartel {
    padding: 22px;
}
.cartel__titulo {
    text-align: center;
    padding: 4px;
    background-color: var(--bs-secondary);
    margin: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.cartel__description {
    margin: 0;
    background-color: var(--bs-primary);
    padding: 1rem;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: white;
}

/* Divided Section */
#sectionDivided {
    background-color: var(--color-main);
    color: white;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#divided {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--color-main);
    height: 40%;
    width: 100%;
    padding: 4% 10%;
    color: white;
}

.dividedBox {
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--bs-secondary);
    justify-content: space-between;
    align-items: center;
}

.dividedBox:last-child {
    border-right: 3px solid var(--bs-secondary);
}

.divided--icon {
    font-size: xx-large;
}

.dbox__tit {
    font-size: larger;
    text-align: center;
    padding: 8px 0;
}

.dividedBox p {
    text-align: justify;
}

/* Contact Section */
#contact {
    padding: 5% 10%;
    background-color: rgb(255, 255, 255);
    min-height: 75vh;
}

/* Responsive Styles */
@media (max-width: 640px) {
    .container__buttons {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    #first {
        padding: 12px;
        text-align: center;
    }
}

@media (max-width: 1040px) {
    #who__card-second {
        width: auto;
    }
}

@media (max-width: 720px) {
    #divided {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dividedBox {
        border: none;
        border-top: 3px solid var(--bs-secondary);
    }
    .dividedBox:last-child {
        border-right: none;
        border-bottom: 3px solid var(--bs-secondary);
    }
}

@media (min-width: 1020px) {
    .cartel {
        padding: 12px;
        max-width: 50%;
        height: 40%;
        max-height: 60%;
    }
    #cartel--section {
        height: 40vh;
    }
}
