<div class="flex-column container-fluid mainContainer">
  <section class="min-vh-100 sectionflex" id="first">
    <app-firstpage></app-firstpage>
  </section>

  <section class="min-vh-100 sectionflex" id="main__who">
    <app-secondpage></app-secondpage>
  </section>

  <section class="min-vh-100 nb sectionflex" id="sectionDivided">
    <div style="padding-top: 2em">
      <h4 class="fs-2">¿A qué nos dedicamos?</h4>
    </div>
    <div id="divided">
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Crear Memorias</h5>
        <p class="text-wrap">
          Queremos que descubras Jujuy, pero también que te sientas parte de
          ella, que comprendas su magia y su legado, y que, al finalizar tu
          aventura, te lleves contigo algo más que fotos: una conexión profunda
          con lo esencial.
        </p>
        <i style="font-size: 40px;" class="fa-solid fa-mountain-sun"></i>
      </div>
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Pasajes internacionales</h5>
        <p>
          Nuestros paquetes internacionales te llevan al corazón de Brasils. Con
          la guía de un especialista en portugués, te ofrecemos experiencias
          diseñadas para sumergirte en la vibrante belleza de sus paisajes y
          tradiciones.
        </p>
        <p>¡Consultanos por paquetes unicos en ambos paises!</p>
        <div class="flags">
          <img class="mx-2" src="assets/flags/arg.png" alt="48">
          <img class="mx-2" src="assets/flags/br.png" alt="48">
        </div>
      </div>
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Turismo no convencional</h5>
        <p>
          Experiencias únicas que no encontrarás en ningún mapa, guiadas por
          quienes conocen los secretos mejor guardados de esta tierra.
          Aventúrate en un turismo no convencional, donde cada paso te llevará a
          lo desconocido, despertando todos tus sentidos.
          <br />
        </p>
        <p>¿Te atreves a explorar lo que pocos han visto?</p>
        <svg
          width="60"
          height="60"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 200 200"
        >
          <ellipse
            cx="100"
            cy="120"
            rx="80"
            ry="30"
            fill="white"
            stroke="white"
            stroke-width="3"
          />
          <ellipse
            cx="100"
            cy="100"
            rx="50"
            ry="20"
            fill="white"
            stroke="white"
            stroke-width="3"
          />
          <circle cx="60" cy="120" r="8" fill="grey" />
          <circle cx="85" cy="125" r="8" fill="grey" />
          <circle cx="115" cy="125" r="8" fill="grey" />
          <circle cx="140" cy="120" r="8" fill="grey" />
          <polygon
            points="90,130 110,130 120,200 80,200"
            fill="rgba(255,255,255,0.5)"
          />
        </svg>
      </div>
    </div>
  </section>

  <section class="sectionflex" id="contact">
    <app-contact style="width: 90%"></app-contact>
  </section>
  <app-footer></app-footer>
</div>
