<div class="flex-column container-fluid mainContainer">
  <section class="min-vh-100 sectionflex" id="first">
    <app-firstpage></app-firstpage>
  </section>

  <section class="min-vh-100 sectionflex" id="main__who">
    <app-secondpage></app-secondpage>
  </section>

  <section class="min-vh-100 nb sectionflex" id="sectionDivided">
    <div style="padding-top: 2em">
      <h4 class="fs-2">¿A qué nos dedicamos?</h4>
    </div>
    <div id="divided">
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Alquiler de equipos pesados</h5>
        <p class="text-wrap">
          Con nuestra flota de equipos pesados impulsamos el progreso de tus proyectos 
        </p>
        <svg class="divided--icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
          <path fill="white" fill-rule="evenodd" d="M14.858 12.071H5.141c-.61 0-1.102.581-1.102 1.3v1.299c0 .718.491 1.299 1.102 1.299h9.717c.608 0 1.101-.581 1.101-1.299v-1.299c0-.719-.492-1.3-1.101-1.3m-7.879 3.034a1.123 1.123 0 0 1-1.115-1.131c0-.627.5-1.132 1.115-1.132c.613 0 1.113.505 1.113 1.132c0 .626-.5 1.131-1.113 1.131m3.007-.011a1.078 1.078 0 0 1-1.076-1.08c0-.597.482-1.081 1.076-1.081a1.08 1.08 0 0 1 1.076 1.081c0 .597-.483 1.08-1.076 1.08m3.045.032c-.631 0-1.145-.495-1.145-1.108c0-.615.514-1.111 1.145-1.111s1.145.496 1.145 1.111c0 .613-.514 1.108-1.145 1.108m-1.053-7.105l.021-2.014H7.417L6.584 3.91l-.004-.012l-.005.002l-2.586-2.696l.348-.9l-.864-.336l-2.258 6.283a2.368 2.368 0 0 0-.936 3.151c.6 1.146 2.303 1.926 3.44 1.315c.881-.472-.52-3.405-1.589-4.269l1.489-4.286l2.162 2.255l1.281 4.585v.996c0 1.607 1.031.944 1.031.944h6.031s.844.39.844-1.007V8.716c0-.867-.938-.708-.938-.708zm-.947 2.041H7.937V6.937h3.094z" />
        </svg>
      </div>
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Taller de reparación</h5>
        <p>
          Nuestro taller familiar de parte baja de pesados está  en las manos artesanas más hábiles  que trabajan con los mejores materiales  al servicio de tu seguridad.
        </p>
        <ul>
          <li>Conocimientos técnicos avanzados y habilidad artesanal.</li>
          <li>Servicios de inspección que garantizan el buen funcionamiento y la seguridad de los vehículos.</li>
          <li>Cambio de elásticos.</li>
        </ul>
        <i class="fa-solid fa-wrench divided--icon"></i>
      </div>
      <div class="dividedBox">
        <h5 class="dbox__tit fs-3">Venta de repuestos para vehículos pesados</h5>
        <ul>
          <li>Mantenimiento preventivo.</li>
          <li>Reparaciones previstas o inesperadas.</li>
          <li>Inventario completo de repuestos.</li>
        </ul>
        <i class="fa-solid fa-truck-moving divided--icon"></i>
      </div>
    </div>
  </section>

  <section class="sectionflex" id="contact">
    <app-contact style="width: 90%;"></app-contact>
  </section>
  <app-footer></app-footer>
</div>