@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,700;1,700&display=swap');



:root {
  --color-main: #03A6A6 ;
  --color-secundario: #0A9EBF;
  --color-extra: #6BBF78;
  /* --color-titulo: #ffe598eb;
  --color-subtitulo: rgb(150 153 231);
  --color-layouts: #1c2952;
  --color-contactenos: rgba(54, 135, 175, 0.8); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('assets/bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

